.box1 {
  background-color: aqua;
  transform: translate(100px, 20px);
  transform: translateX(100px); /* controls horizontal value*/
  transform: translateY(20px); /* controls vertical value*/
  transform: rotate(
    -45deg
  ); /* +ve angle clockwise move, -ve angle anticlockwise move.*/
}
.box2 {
  background-color: aqua;
  margin: 200px;
  transform: scale(1, 4); /* used for zooming */
  transform: scaleX(1); /* used for zooming in Horizontal direction */
  transform: scaleY(4); /* used for zooming in vertical direction */
}

.box3 {
  background-color: aqua;
  margin: 200px;
  transform: skew(45deg);
}
/*
Transfrom works with div but not with span.

transform: translate(100px, 20px);
1st value that is 100px controls Horizontal position(left/right)
2nd value that is 20px controls vertical position(top/bottom)
*/
