*{
  box-sizing: border-box;
  /* This changes the content size inside the box */
}

.container {
  height: 200px;
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.container1 {
  height: 200px;
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.box {
  border: 1px solid black;
  background-color: aqua;
  flex-basis: 50%;
}
.dabba {
  border: 1px solid black;
  background-color: aqua;
  width: 100px;
}

/* flex-basis is same as width 
the difference is in flex-basis if content is more for 
a box the box will grow but it is not the case in 
width if content is more it will trim the content.*/
