* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  border: 5px solid grey;
}

.container {
  /* 100 % means 100% of 100vh */
  height: 100%;
  /* At less content box size will be same
  but at more content box size will be fixed
  content will overflow */
  max-width: 1200px;
 /*  margin: 0 auto; 
 first value indicates margin in top and bottom 
 second value indicates margin in left and right */
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  margin: 20px 0px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 32%;
  /* to overlap image on text we set the position: relative */
  position: relative;
  margin-bottom: 20px;
  /* corner round krna kein liya border-radius : 10px kiya*/
  border-radius: 10px;
  overflow: hidden;
}

.card img{
  width:100%;
  height:100%;
  filter: grayscale(100%);
  box-shadow: 0 0 20px #333;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px #333);
}


.card:hover img {
  filter: grayscale(0%);
}

.card figcaption{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 20%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 1;
  transition: 0.3s;
}

.card:hover figcaption {
  opacity: 1;
  transform: scale(1.03);
}  